@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.backdrop {
  @apply bg-slate-900 rounded-lg shadow-md border border-2 border-slate-700;
}

body {
  font-family: 'Fira Code';
  max-width: 100%;
  height: 100vh;
  padding: 30px 50px;
  @apply bg-slate-950 text-slate-50;

}
