@import 'tailwindcss/postcss';

@layer base {
  :root {
    --background: #f9f7fd;
    --foreground: #150021;
    --muted: #e5e0ec;
    --muted-foreground: #7e6c94;
    --popover: #f9f7fd;
    --popover-foreground: #150021;
    --card: #f7f4fc;
    --card-foreground: #000000;
    --border: #e0e4ef;
    --input: #e0e4ef;
    --primary: #8450ff;
    --primary-foreground: #f7f3ff;
    --secondary: #00a9e3;
    --secondary-foreground: #f7f9ff;
    --accent: #d2cde5;
    --accent-foreground: #2b2342;
    --destructive: #ff2c2c;
    --destructive-foreground: #ffffff;
    --ring: #8450ff;
    --chart-1: #8450ff;
    --chart-2: #00a9e3;
    --chart-3: #d2cde5;
    --chart-4: #00b5ea;
    --chart-5: #8148ff;
    --radius: 0.5rem;
  }

  .dark {
    --background: #0a050f;
    --foreground: #e4daf3;
    --muted: #1e1522;
    --muted-foreground: #a296c2;
    --popover: #0a050f;
    --popover-foreground: #e4daf3;
    --card: #0d0712;
    --card-foreground: #e8dff7;
    --border: #2c2f3b;
    --input: #2c2f3b;
    --primary: #8450ff;
    --primary-foreground: #f7f3ff;
    --secondary: #00a9e3;
    --secondary-foreground: #f7f9ff;
    --accent: #221933;
    --accent-foreground: #c3b6db;
    --destructive: #ff2c2c;
    --destructive-foreground: #ffffff;
    --ring: #8450ff;
    --chart-1: #8450ff;
    --chart-2: #00a9e3;
    --chart-3: #221933;
    --chart-4: #00b5ea;
    --chart-5: #8148ff;
  }


  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}
h1 {
  margin: 0;
  padding: 0;
  color: var(--primary);
}